<div class="card">
	<div class="card-body">
		<img class="auth-form__logo d-table mx-auto mb-3" src="images/bwd-dashboards-logo.svg" alt="BwD Admin Dashboard - Forgot Password Template" />

		<h5 class="auth-form__title text-center mb-4">Create New Account</h5>
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
			</div>

			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
			</div>

			<div class="form-group">
				<label for="exampleInputPassword2">Repeat Password</label>
				<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Repeat Password" />
			</div>

			<div class="form-group mb-3 d-table mx-auto">
				<div class="custom-control custom-checkbox mb-1">
					<input type="checkbox" class="custom-control-input" id="customCheck2" />
					<label class="custom-control-label" for="customCheck2">I agree with the <a href="#">Terms &amp; Conditions</a>.</label>
				</div>
			</div>
			<button type="submit" class="btn btn-pill btn-accent d-table mx-auto">Create Account</button>
		</form>
	</div>

	<div class="card-footer border-top">
		<ul class="auth-form__social-icons d-table mx-auto">
			<li>
				<a href="#"><i class="fab fa-facebook-f"></i></a>
			</li>
			<li>
				<a href="#"><i class="fab fa-twitter"></i></a>
			</li>
			<li>
				<a href="#"><i class="fab fa-github"></i></a>
			</li>
			<li>
				<a href="#"><i class="fab fa-google-plus-g"></i></a>
			</li>
		</ul>
	</div>
</div>

<div class="auth-form__meta d-flex mt-4">
	<a href="/admin/forgot-password">Forgot your password?</a>
	<a href="/admin/login" class="ml-auto">Sign In?</a>
</div>