<div class="bwd-content">
	<h1 class="mb-2">{{ title }}</h1>
	<p class="m-0">{{ contentText }}</p>

	<p>user: {{ user }}</p>
	<p>isLogged: {{ isLogged }}</p>
</div>

<div class="bwd-flex -bwd-flex-col bwd-flex-center bwd-flex-middle" style="gap: 1rem">
	<figure title="/images/1676620272168_0.4zi46kdtuyx_photo_b-home.webp" class="bwd-figure">
		<img width="100" src="/images/1676620272168_0.4zi46kdtuyx_photo_b-home.webp" />
		<figcaption>/images/1676620272168_0.4zi46kdtuyx_photo_b-home.webp</figcaption>
	</figure>

	<figure title="/uploads/images/1676620272168_0.4zi46kdtuyx_photo_b-home.webp" class="bwd-figure">
		<img width="100" src="/uploads/images/1676620272168_0.4zi46kdtuyx_photo_b-home.webp" />
		<figcaption>/uploads/images/1676620272168_0.4zi46kdtuyx_photo_b-home.webp</figcaption>
	</figure>

	<figure title="/uploads/manager/1677197823557_0.oi5st1rfnw_e57_image.jpeg" class="bwd-figure">
		<img width="100" src="/uploads/manager/1677197823557_0.oi5st1rfnw_e57_image.jpeg" />
		<figcaption>/uploads/manager/1677197823557_0.oi5st1rfnw_e57_image.jpeg</figcaption>
	</figure>

	<figure title="/uploads/manager/test/1677197823557_0.oi5st1rfnw_e57_image.jpeg" class="bwd-figure">
		<img width="100" src="/uploads/manager/test/1677197823557_0.oi5st1rfnw_e57_image.jpeg" />
		<figcaption>/uploads/manager/test/1677197823557_0.oi5st1rfnw_e57_image.jpeg</figcaption>
	</figure>
</div>
