<div class="color-switcher animated">
	<h5>Accent Color</h5>
	<ul class="accent-colors mb-0">
		<li data-color="primary" class="accent-primary active">
			<i class="material-icons">check</i>
		</li>
		<li data-color="secondary" class="accent-secondary">
			<i class="material-icons">check</i>
		</li>
		<li data-color="success" class="accent-success">
			<i class="material-icons">check</i>
		</li>
		<li data-color="info" class="accent-info">
			<i class="material-icons">check</i>
		</li>
		<li data-color="warning" class="accent-warning">
			<i class="material-icons">check</i>
		</li>
		<li data-color="danger" class="accent-danger">
			<i class="material-icons">check</i>
		</li>
	</ul>

	{{!--
	<div class="actions mb-4">
		<a href="#" class="mb-2 btn btn-sm btn-primary w-100 d-table mx-auto extra-action"><i class="material-icons">cloud</i> Download</a>
		<a href="#" class="mb-2 btn btn-sm btn-white w-100 d-table mx-auto extra-action"><i class="material-icons">book</i> Documentation</a>
	</div>
	--}}

	<div class="close">
		<i class="material-icons">close</i>
	</div>
</div>

<div class="color-switcher-toggle animated pulse infinite">
	<i class="material-icons">settings</i>
</div>
