<footer class="main-footer d-flex p-2 px-3 bg-white border-top">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/admin">Dashboard</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/about">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">Check API</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/swagger">Swagger</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">Contact</a>
		</li>
	</ul>
	<span class="copyright ml-auto my-auto mr-2"
		>Copyright © 2023
		<a href="https://www.ersinbiltekin.dev" rel="nofollow">Bwd Admin</a>
	</span>
</footer>