<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
	<div class="main-navbar">
		<nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
			<a href="javascript:void()" class="navbar-brand w-100 mr-0" style="line-height: 25px">
				<div class="d-table m-auto">
					<img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px" src="images/bwd-dashboards-logo.svg" alt="BwD Admin Dashboard" />
					<span class="d-none d-md-inline ml-1">BwD Admin Dashboard</span>
				</div>
			</a>

			<a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
				<i class="material-icons">&#xE5C4;</i>
			</a>
		</nav>
	</div>

	<form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
		<div class="input-group input-group-seamless ml-3">
			<div class="input-group-prepend">
				<div class="input-group-text">
					<i class="fas fa-search"></i>
				</div>
			</div>
			<input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search" />
		</div>
	</form>

	<div class="nav-wrapper">
		<ul class="nav flex-column">
			{{#if isLogged}}
			<h1>{{ user }}</h1>
			<li class="nav-item">
				<a class="nav-link active" href="/admin">
					<i class="material-icons">edit</i>
					<span>Blog Dashboard</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/admin/me">
					<i class="material-icons">person</i>
					<span>My Information</span>
				</a>
			</li>
			{{/if}}
			<li class="nav-item">
				<a class="nav-link" href="/i/api/category">
					<i class="material-icons">vertical_split</i>
					<span>Categories</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/i/api/comment">
					<i class="material-icons">vertical_split</i>
					<span>Comments</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/i/api/education">
					<i class="material-icons">vertical_split</i>
					<span>Educations</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/i/api/experience">
					<i class="material-icons">vertical_split</i>
					<span>Experiences</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/i/api/post">
					<i class="material-icons">note_add</i>
					<span>Posts</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/i/api/project">
					<i class="material-icons">vertical_split</i>
					<span>Projects</span>
				</a>
			</li>
			{{#if isLogged}}
			<li class="nav-item">
				<a class="nav-link" href="/i/api/role">
					<i class="material-icons">vertical_split</i>
					<span>Roles</span>
				</a>
			</li>
			{{/if}}
			<li class="nav-item">
				<a class="nav-link" href="/i/api/skill">
					<i class="material-icons">vertical_split</i>
					<span>Skills</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/i/api/stores">
					<i class="material-icons">table_chart</i>
					<span>Stores</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/i/api/tag">
					<i class="material-icons">vertical_split</i>
					<span>Tags</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/i/api/testimonial">
					<i class="material-icons">vertical_split</i>
					<span>Testimonials</span>
				</a>
			</li>
			{{#if isLogged}}
			<li class="nav-item">
				<a class="nav-link" href="/i/api/user">
					<i class="material-icons">person</i>
					<span>User Informations</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/i/api/file">
					<i class="material-icons">vertical_split</i>
					<span>File Management</span>
				</a>
			</li>
			{{/if}}
			<li class="nav-item">
				<a class="nav-link" href="/i/api/site">
					<i class="material-icons">view_module</i>
					<span>Site Informations</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/i/api/section">
					<i class="material-icons">vertical_split</i>
					<span>Sections</span>
				</a>
			</li>
			{{!--
			<li class="nav-item">
				<a class="nav-link" href="/errors">
					<i class="material-icons">error</i>
					<span>Errors</span>
				</a>
			</li>
			--}}
			<li class="nav-item">
				<a class="nav-link" href="/swagger">
					<i class="material-icons">text_snippet</i>
					<span>Swagger</span>
				</a>
			</li>
			{{!--
			<li class="nav-item">
				<a class="nav-link" href="/admin/logout">
					<i class="material-icons">logout</i>
					<span>Çıkış</span>
				</a>
			</li>
			--}}
		</ul>
	</div>
</aside>
