$var1: #ffffff;
$var2: #cfcfcf;

:root {
	--scrollbar-bg-color: #c3c3c3;
	--scrollbar-thumb-color: #e7e7e7;
	--scrollbar-thumb-bg-color: rgba(255, 255, 255, 0.1);
	--scrollbar-thumb-shadow-color: rgba(0, 0, 0, 0.25);
	&.dark {
		--scrollbar-bg-color: #313642;
		--scrollbar-thumb-color: #2a2d35;
		--scrollbar-thumb-bg-color: rgba(255, 255, 255, 0.1);
		--scrollbar-thumb-shadow-color: rgba(0, 0, 0, 0.25);
	}
}

.healthy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 120px);
	text-align: center;
}

.bwd {
	&-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 120px);
		text-align: center;

		&-grid {
			display: grid;
			min-height: calc(100vh - 120px);
		}
	}

	&-flex {
		display: flex;
		flex-wrap: wrap;

		&-nowrap {
			flex-wrap: nowrap;
		}

		&-col {
			flex-direction: column;
		}

		&-middle {
			justify-content: center;
		}

		&-center {
			align-items: center;
		}
	}

	&-figure {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $var1;
		border: 1px solid $var2;
		border-radius: 1rem;
		overflow: hidden;

		img {
			aspect-ratio: 16;
			object-position: center;
			object-fit: cover;
			margin: 0.5rem;
			border-radius: 0.5rem;
		}

		figcaption {
			border-top: 1px solid $var2;
			font-size: small;
			padding: 0.5rem;
		}
	}
}

.test {
	display: block;
	font-size: 2rem;
	text-align: center;
	color: red;
	margin: 2rem;
}

@mixin icon-theme-hidden {
	visibility: hidden;
	opacity: 0;
	scale: 0;
}

@mixin icon-theme-visible {
	visibility: visible;
	translate: -50% -50%;
	opacity: 1;
	scale: 1;
}

html,
body {
	&:not(.dark),
	&.light {
		i {
			&.moon.dark {
				@include icon-theme-hidden;
				translate: -50% 100%;
			}
		}
	}

	&:not(.light).dark {
		i {
			&.sun.light {
				@include icon-theme-hidden;
				translate: -50% -100%;
			}
		}
	}

	&.dark {
		$bg: #5a6169;
		$white: #ffffff;
		$black: #000000;
		$dark: #333333;
		$darken: #222222;

		&,
		body {
			background-color: $bg;
		}

		.main-sidebar {
			background-color: $dark;
		}

		&,
		body,
		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		.h6,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $white;
		}

		.border,
		.border-top,
		.border-right,
		.border-bottom,
		.border-left {
			border-color: $dark !important;
		}

		.main-sidebar .nav {
			border-color: $darken !important;

			.nav-item {
				.nav-link {
					color: $white;
					border-color: $darken !important;

					i {
						color: inherit;
					}
				}

				.nav-link.active,
				.nav-link:hover,
				&.active,
				&:hover {
					box-shadow: inset 0.1875rem 0 0 #007bff;
					background-color: #fbfbfb;
					color: #007bff;
				}
			}
		}

		.bg-white {
			background-color: $darken !important;
			color: $white;
		}

		.navbar-light .navbar-brand {
			background-color: $bg;
			color: $white;
		}

		.form-control {
			background-color: $darken !important;
			color: $white;
		}

		i {
			&.moon.dark {
				@include icon-theme-visible;
			}
		}

		.theme-switcher {
			&.nav-link-icon {
				&,
				&:hover,
				&:active {
					color: #818ea3;
				}
			}
		}
	}

	&.light {
		i {
			&.sun.light {
				@include icon-theme-visible;
			}
		}
	}
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-bg-color);
	min-height: 60px;
	box-shadow: 0px 0px 5px var(--scrollbar-thumb-shadow-color);
}

::selection {
	background: #00ff95;
	color: #ffffff;
	-webkit-text-fill-color: #333333;
}

::selection {
	background: #39f;
	color: #ffffff;
	text-shadow: none;
}

.theme-switcher {
	position: relative;
	overflow: hidden;

	i:is(.moon.dark, .sun.light) {
		position: absolute;
		inset: 50% auto auto 50%;
		color: inherit;
		transition: 200ms translate ease-in-out, 100ms opacity ease-in-out, 100ms scale ease-in-out,
			20ms visibility ease-in-out;
	}
}
