<html lang="en" class="no-js h-100">
	<head>
		<base href="/" />
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>Byertm Web Admin - Express TypeScript</title>
		<meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components." />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<link rel="stylesheet" type="text/css" crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

		<link rel="stylesheet" href="/assets/styles/extras.1.3.2.min.css" />
		<link id="main-stylesheet" rel="stylesheet" data-version="1.3.2" href="/assets/styles/bwd-dashboards.1.3.2.min.css" />

		<link rel="stylesheet" type="text/css" href="/assets/styles/bwd-extras.css" />

		{{!-- <script async defer crossorigin="anonymous" src="https://buttons.github.io/buttons.js"></script> --}}
	</head>
	<body class="h-100">
		{{!-- <h3 style="text-align: center; font-size: 30px">Auth Layout</h3> --}}

		{{!-- <div><img width="100" src="/images/1673739813718_0.6h8y80g4yut_photo_AvatarMaker.png" /></div> --}}

		<div class="container-fluid -icon-sidebar-nav h-100">
			<div class="row h-100">
				{{!-- {{> sidebar }} --}}

				<!-- End Main Sidebar -->
				<main class="main-content col">
					{{#if error}}
					<div class="alert alert-danger">{{ error }}</div>
					{{/if}} {{#if message}}
					<div class="alert alert-danger message">{{ message }}</div>
					{{/if}}

					<div class="main-content-container container-fluid px-4 my-auto h-100">
						<div class="row no-gutters h-100">
							<div class="col-lg-3 col-md-5 auth-form mx-auto my-auto">{{{ body }}}</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>